#cloud-config
package_upgrade: true
users:
- name: root
  lock_passwd: false
  passwd: {{ root_pass }}
{% if "control" in item.name%}
  ssh_authorized_keys:
  - {{ control_ssh_key }}
{% endif %}

hostname: {{ item.name }}
disable_root: false

package_update: true
packages:
  - qemu-guest-agent

final_message: "The system is finally up, after $UPTIME seconds"
